* {
    font-family: "Lato";
}



body {
    min-width: 1220px;
    min-height: 530px;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#canvasDiv{
    width: 800px;
    height: 400px;
    margin-left: 25px;
    position: relative;
}

#main {
    border: 1px solid black;
    display: block;
    width: 800px;
    height: 400px;
}

canvas{
    position: absolute;
    left: 0px;
    top: 0px;
}

@keyframes blink {
    from {
        color: rgba(0, 0, 0, 1)
    }
    to {
        color: rgba(0, 0, 0, 0.2)
    }
}

@-webkit-keyframes blink {
    from {
        color: rgba(0, 0, 0, 1)
    }
    to {
        color: rgba(0, 0, 0, 0.2)
    }
}

#header {
    text-align: center;
    height: 10vh;
    margin: 0px;
    margin-bottom: 1vh;
    animation: blink 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#flex {
    display: flex;
    width: 100%;
    height: 85vh;
    min-height: 400px;
}

#playerPanel {
    flex: 1;
    height: 100%;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    -webkit-align-content: space-between;
    align-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.upperDiv {
    width: 80%;
    height: 22%;
    border: 1px solid black;
    border-radius: 5px;
    /* margin: 12px auto; */
}

.playerInfo {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
}

.playerInfo * {
    margin: 0px;
    padding: 0px;
}

.nickPanel {
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.colorPanel {
    height: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.colorPanel>div {
    display: flex;
    margin: 5px;
    flex-basis: calc(50% - 16px);
    border: 3px solid black;
    border-radius: 50%;
    justify-content: center;
    flex-direction: column;
}

.roundShadow {
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 50%;
}

.playerNick {
    text-align: center;
    height: 25%;
    font-size: 130%;
    margin: 0px auto;
    width: 70%;
    border-radius: 5px;
}

.playerKey {
    text-align: center;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playerKey h3 {
    margin: 5px auto;
}

.playerKey button {
    flex: 1;
    width: 60%;
    margin: 5px auto;
}

.panelShadow {
    width: 100%;
    height: 100%;
    top: -100%;
    position: relative;
    background-color: rgba(100, 100, 100, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelShadow h1 {
    color: white;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#shadowOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 2;
}

.gameStatus {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../img/grass.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
